<!-- wp:firm-blocks/header-home-block -->
<div class="wp-block-firm-blocks-header-home-block">
  <header class="header home-header">
    <div class="container-fluid">
      <div class="header__wrapper">
        <!-- wp:navigation {"ref":64,"overlayMenu":"never","hasIcon":false,"className":"header__lang nav-list","style":{"spacing":{"blockGap":"0"},"typography":{"fontSize":"16px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} /-->
        <!-- wp:navigation {"ref":74,"overlayMenu":"never","className":"header__nav nav-list","style":{"spacing":{"blockGap":"12px"},"typography":{"fontSize":"16px"}},"layout":{"type":"flex","justifyContent":"center"}} /-->
        <!-- wp:navigation {"ref":60,"overlayMenu":"never","className":"header__links nav-list","style":{"spacing":{"blockGap":"0"},"typography":{"fontSize":"16px"}},"layout":{"type":"flex","justifyContent":"right"}} /-->
        <div class="header__mobile-btn">
          <svg
            width="36"
            height="24"
            viewBox="0 0 36 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 23H35M1 12H35M1 1H35"
              stroke="#686868"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </header>
</div>
<!-- /wp:firm-blocks/header-home-block -->

<!-- wp:post-content /-->

<!-- wp:template-part {"slug":"footer","theme":"firm-ua","area":"footer"} /-->
