<!-- wp:template-part {"slug":"header","theme":"firm-ua","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"align":"full","className":"container","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull container">
  <!-- wp:post-title {"level":1} /-->

  <!-- wp:post-content /-->
</div>
<!-- /wp:group -->

<div class="post-modal-global" data-modal>
  <div class="post-modal__overlay" data-close></div>
  <div class="post-modal__content">
    <div class="post-modal__close" data-close>закрити</div>
    <div data-modal-body class="post-modal__body"></div>
  </div>
</div>

<!-- wp:template-part {"slug":"footer","theme":"firm-ua","tagName":"footer","className":"site-footer"} /-->
