@charset "UTF-8";
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
li, a{
  line-height: 1;
}

:root {
  --bg-color: #fff;
  --text-color: #000;
  --text-content: #424242;
  --light-text-color: #5f5f5f;
  --grey-color: #f8f8f8;
  --dark-grey-color: #a4a4a4;
  --light-text: #7d7d7d;
  --accent-color: #e1ae0c;
  --radius: 20px;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-VariableFont_wdth,wght.woff2") format("woff2"), url("../fonts/Roboto-VariableFont_wdth,wght.woff") format("woff"), url("../fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
}
/* Reset ================= */
* {
  box-sizing: border-box;
}
.wp-site-blocks{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}
.wp-site-blocks .single-page{
  margin-top: 0;
  margin-bottom: auto;
}
.wp-site-blocks .single-page .wp-block-post-content{
  margin: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit !important;
  outline: none !important;
}

ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ======================= */
.cdp-copy-alert-success {
  z-index: -1;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: clamp(1rem, 0.95rem + 0.23vw, 1.13rem);
}

h1 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.page h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 24px !important;
  margin-bottom: 24px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}
h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}

ul {
  list-style: disc;
  padding-left: 16px;
  font-size: 16px;
  margin-top: 4px;
  text-align: left;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.main {
  min-height: calc(100vh - 158px);
}
.main section {
  height: 100%;
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1865px;
  padding-left:clamp(0.63rem, 0.22rem + 2vw, 2.63rem) !important;
  padding-right:clamp(0.63rem, 0.22rem + 2vw, 2.63rem) !important;
  margin: 0 auto;
}

.center {
  text-align: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
  }
}
/* ========== */
.nav-list ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-list ul li {
  margin-right: 8px;
  margin-left: 8px;
  padding: 4px 8px !important;
  border-radius: 5px;
  position: relative;
  background-color: transparent;
  transition: all 0.3s;
}
.nav-list ul li::after {
  content: "|";
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-51%);
  scale: 1.1;
}
.nav-list ul li:first-child {
  margin-left: 0;
}
.nav-list ul li:last-child {
  margin-right: 0;
}
.nav-list ul li:last-child::after {
  content: "";
}
.nav-list ul li:hover {
  background-color: var(--grey-color);
}
.nav-list ul li.current-menu-item {
  background-color: var(--grey-color);
}
.nav-list ul li:has(a:focus) {
  background-color: var(--grey-color) !important;
}

.box-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 0;
  margin-top: 35px;
}
.box-item {
    display: inline-block;
    padding: 13px;
    background-color: var(--grey-color);
    border-radius: var(--radius);
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .25);
    cursor: pointer;
    width: calc(33.3333333333% - 20px);
    margin-bottom: clamp(1rem, .46rem + 2.7vw, 2.5rem);
}
.home.page .box-item, .item-posts {
  display: inline-block;
  padding: 13px;
  background-color: var(--grey-color);
  border-radius: var(--radius);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: calc(33.3333333333% - 20px);
  margin-bottom: clamp(1rem, 0.46rem + 2.7vw, 2.5rem);
}
.box-item__list {
  display: none;
}

.box-item__tabs {
  padding-top: 11px;
  border-top: 1px solid #e2e2e2;
  margin-top: 10px;
}

.box-item__tabs ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.box-item__tabs ul li {
  position: relative;
  margin-left: 16px;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s;
}
.box-item__tabs ul li:hover {
  background-color: #e2e2e2;
}
.box-item__tabs ul li::after {
  position: absolute;
  content: "|";
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}
.box-item__tabs ul li:last-child::after {
  content: "";
}
.box-item__tabs ul li:first-child {
  margin-left: 0;
}

.box-item__title {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 1.41rem + 0.45vw, 1.75rem);
  font-weight: 600;
  text-align: center;
}

.box-item__tabs ul li {
  font-size: clamp(0.88rem, 0.78rem + 0.45vw, 1.12rem);
}

.search-form form {
  position: relative;
  margin: 0 auto;
}
.search-form form .hero-home__search--icon {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}
.search-form input {
  padding: 5px 24px 5px 33px;
  outline: none;
  border: 1px solid var(--dark-grey-color);
  border-radius: var(--radius);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  min-width: 329px;
  font-size: 20px;
}
.search-form input::placeholder {
  font-size: 20px;
  color: var(--light-text);
}

.col-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(1.5rem, -1.19rem + 5.78vw, 3.5rem);
}

.main-btn {
  padding: 12px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  height: 44px;
  width: auto;
  min-width: 142px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  box-shadow: 2px 2px 4px rgba(106, 106, 106, 0.2509803922);
  background-color: var(--bg-color);
  transition: all 0.3s;
  cursor: pointer;
}
.main-btn.main-btn__disabled
.main-btn:hover {
  color: var(--light-text);
}
.main-btn.main-btn__disabled{
  opacity: 0.5;
  cursor: default;
}
.page .box-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 448px;
}

.page .box-item p {
  padding: 0 12px;
  text-align: center;
}

.col-2 > .box-item {
  width: calc(50% - 10px) !important;
  min-width: 320px;
  margin: 0;
}

.item-content__item {
  padding-top: 34px;
  margin-top: 42px;
  position: relative;
}

.item-content__item p {
  font-weight: 500;
  margin-top: 16px;
}

.item-content__wrapper .item-content__item:first-child {
  padding-right: 15%;
}

.item-content__wrapper .item-content__item:last-child {
  padding-left: 15%;
}

.item-content__wrapper .item-content__item:first-child::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 1px;
  background-color: var(--dark-grey-color);
  bottom: 0;
  right: 0;
  opacity: 0.3;
}

.item-content__wrapper .item-content__item::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--dark-grey-color);
  top: 0;
  left: 0;
  opacity: 0.3;
}

.item-content__inner:not(:last-child) {
  margin-bottom: 32px;
}

@media (max-width: 1200px) {
  .box-item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 746px) {
  .box-item {
    width: 100%;
  }
}
/* ==================== */
/* ======= MODALS ========= */
.modal-contacts {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  backdrop-filter: blur(8px);
}
.modal-contacts.open {
  display: flex;
}
.modal-contacts__wrapper {
  position: relative;
  background-color: var(--bg-color);
  padding: 12px;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1450980392);
}
.modal-contacts__wrapper ul {
  list-style: none;
  padding: 0;
}
.modal-contacts__wrapper ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.modal-contacts__wrapper ul li:not(:last-child) {
  margin-bottom: 12px;
}
.modal-contacts__chats {
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.modal-contacts__chats a {
  height: 75px;
  width: 75px;
}
.modal-contacts__close {
  position: absolute;
  right: 0;
  top: -32px;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

/* ===== END MODALS ======= */
/*  ========= HEADER ========= */
.header {
  padding: 28px 0;
}
.header__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-transform: uppercase;
}
.site-header > .wp-block-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-transform: uppercase;  
}
.header__wrapper nav ul {
  display: flex;
  justify-content: center;
}
.header__wrapper .header__links ul {
  justify-content: end;
}

.header__mobile-btn {
  display: none;
  cursor: pointer;
}

.header__lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__lang ul li {
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
  border-radius: 5px;
}
.header__lang ul li::after {
  right: -8px;
}
.header__lang ul li:hover {
  background-color: var(--grey-color);
}

.header__logo {
  margin-right: 48px;
}

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  backdrop-filter: blur(4px);
  display: none;
}

.header-mobile.open {
  display: block;
}

.header-mobile__wrapper {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  background-color: var(--bg-color);
  padding-top: 54px;
  padding-bottom: 8px;
  width: fit-content;
  height: 100%;
}

.header-mobile__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header-mobile__inner .container{
  flex-direction: column;
  align-items: start !important;
}
.header-mobile__wrapper .menu-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.header-mobile__wrapper nav {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 12px;
}

.header-mobile__wrapper nav::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--dark-grey-color);
  bottom: 0;
  left: 0;
  opacity: 0.2;
}

.header-mobile__wrapper nav:first-child {
  padding-top: 0;
}

.header-mobile__wrapper nav:last-child {
  padding-bottom: 0;
}

.header-mobile__wrapper nav:last-child::after {
  display: none;
}

.header-mobile__wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}

.header-mobile__wrapper ul li {
  position: relative;
  padding-left: 32px;
  position: relative;
  margin-bottom: 16px;
}

.header-mobile__wrapper ul li::before {
  position: absolute;
  top: calc(50% + 1px);
  left: 0;
  transform: translateY(-50%);
  content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="white"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
  opacity: 0;
  transition: all 0.3s;
}

.header-mobile__wrapper ul li:hover::before {
  opacity: 1;
}

.header-mobile__wrapper ul li:focus::before {
  opacity: 1;
}

.header-mobile__wrapper ul li.current-menu-item::before {
  opacity: 1;
  content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="%23B5B5B5"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
}

.header-mobile__wrapper ul li.current-menu-item {
  font-weight: 700;
}

.header-mobile__wrapper ul li:last-child {
  margin-bottom: 0;
}

.header-mobile__copy {
  text-align: center;
  margin-top: auto;
}

.header-mobile__app {
  margin-top: 48px;
  margin-bottom: auto;
}

.header-mobile__app--title {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--light-text);
  margin-left: 8px;
  margin-bottom: 4px;
}

.header-mobile__app--wrapper {
  background-color: var(--grey-color);
  padding: 8px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header-mobile__app--offer {
  font-size: 20px;
  font-weight: 700;
}

.header-mobile__app--offer strong {
  font-style: italic;
  display: block;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header-mobile__app--btns {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
}

.header-mobile__app--btns img {
  display: block;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.header-mobile__app--links p {
  font-size: 10px;
  font-weight: 500;
  color: var(--light-text-color);
  text-align: center;
}

@media (max-width: 976px) {
  .header__wrapper {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav,
  .header__links {
    display: none !important;
  }
  .header__mobile-btn {
    display: block !important;
  }
}
/* =======END HEADER ============ */
/* ========== PAGES =========== */
.wrapper:has(.page) .header {
  padding-bottom: 20px;
}

.page:not(.tabs-page) h1 {
  margin-bottom: 10vh;
}

.page .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page.tabs-page .container {
  display: block;
}

.page.single-page h1 {
  margin-bottom: 8px;
}
.page.single-page .single__subject {
  font-size: 20px;
}
.page.single-page .single__inner {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: fit-content;
  width: fit-content;
  margin-top: 48px;
  background-color: var(--grey-color);
  padding: 16px 0;
  height: 68vh;
  width: 100%;
}
.page.single-page .single__inner::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10%;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  left: 0;
  bottom: 0;
}
.page.single-page .single__wrapper {
  color: var(--text-content);
  padding: 20px 32px 64px;
  border-radius: 20px;
  max-height: 68vh;
  overflow-y: auto;
}
.page.single-page .single__wrapper--header > .flex {
  justify-content: space-between;
  margin-top: 16px;
}
.page.single-page .single__wrapper--header > .flex > div {
  width: 50%;
}
.page.single-page .single__wrapper--header > .flex > div ul {
  list-style: none;
  padding: 0;
}
.page.single-page .single__wrapper--header > .flex > div ul li {
  position: relative;
  padding-left: 16px;
  line-height: 1.4;
}
.page.single-page .single__wrapper--header > .flex > div ul li::before {
  position: absolute;
  content: "▪️";
  left: 0;
  top: 0;
  line-height: 1.4;
}


.page .home-link {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.page__wrapper {
  position: relative;
  width: 100%;
}
.page__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.page__item--tab {
  width: 218px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  color: var(--light-text-color);
  text-align: right;
  padding: 5px 29px 5px 5px;
  overflow: hidden;
  box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
  position: relative;
}
.page__item:first-child .page__item--tab {
  border-top-left-radius: 20px;
}
.page__item:last-child .page__item--tab {
  border-bottom-left-radius: 20px;
}
.page__item--tab:hover {
  background-color: var(--grey-color);
}
.page__item.active .page__item--tab {
  background-color: var(--grey-color);
  z-index: 2;
  position: relative;
}
.page__item--tab::after {
  content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="white"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
  position: absolute;
  height: 24px;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}
.page__item.active .page__item--tab::after {
  content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="%23B5B5B5"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
}
.page__item--content {
  position: absolute;
  width: calc(100% - 218px);
  top: 0;
  left: 218px;
  border-radius: var(--radius);
  border-top-left-radius: 0;
  background-color: var(--grey-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  color: var(--light-text-color);
  padding: 0;
  opacity: 0;
  color: var(--text-content);
  transition: all 0.2s;
  pointer-events: none;
  height: 0;
}
.page__item.active .page__item--content {
  /* display: block; */
  padding: 24px clamp(1rem, 0.66rem + 1.71vw, 1.88rem) 12px;
  max-height: calc(100vh - 240px);
  min-height: 110%;
  height: auto;
  overflow-y: auto;
  opacity: 1;
  pointer-events: visible;
}

.item-content__title {
  text-align: center;
}
:where(.wp-site-blocks) > .post-modal-global {
    margin-block-start: 0;
}
@media (max-width: 746px) {
  .page__item {
    flex-direction: column;
    margin-bottom: 16px;
  }
  .page__item .page__item--tab {
    width: 100%;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0s;
  }
  .page__item .page__item--tab:hover {
    background-color: #ebebeb;
  }
  .page__item .page__item--tab::after {
    right: 10px;
  }
  .page__item.active .page__item--tab {
    background-color: #ebebeb !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  .page__item .page__item--tab::after {
    transform: rotate(90deg) translateX(-50%);
  }
  .page__item.active .page__item--tab::after {
    transform: rotate(270deg) translateX(50%);
  }
  .page__item .page__item--content {
    transition: all 0s;
    position: relative;
    width: 100%;
    left: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .page__item.active .page__item--content {
    max-height: 100% !important;
  }
}
/* ========== END PAGES =========== */

/* block video */

/* end block video */



/* end content support block */

/* content faq block */


/* end content faq block */
/* content posts block */
.item-content-posts__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 0 24px;
}
.item-content-posts__wrapper .item-content__card--links {
  margin-top: 16px;
}
.item-content-posts__wrapper .item-content-post {
  max-width: calc(33.3333333333% - 44px);
}
.item-content-posts__wrapper .item-content-post h3 {
  margin-top: 24px;
}
.item-content-posts__wrapper .item-content-post img {
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}
.item-content-posts__wrapper .item-content-post p {
  margin-top: 16px;
}
.item-content-posts__wrapper .item-content-post ul {
  list-style: none;
  margin-top: 8px;
  padding: 0;
}
.item-content-posts__wrapper .item-content-post ul li {
  padding-left: 28px;
  position: relative;
}
.item-content-posts__wrapper .item-content-post ul li:not(:last-child) {
  margin-bottom: 4px;
}
.item-content-posts__wrapper .item-content-post ul li::before {
  position: absolute;
  content: "👉 ";
  left: 0;
  top: -0.3rem;
}

/* end content posts block */

/* content app block */

/* end content app block */
/* content steps block */
.item-content-steps .main-btn {
  height: 29px;
  border-radius: 10px;
}
.item-content-steps ol {
  counter-reset: step;
}
.item-content-steps ol li {
  list-style: none;
  counter-increment: step;
}
.item-content-steps ol li:not(:last-child) {
  margin-bottom: 16px;
}
.item-content-steps ol li::before {
  content: "Крок " counter(step) ". ";
  font-weight: 700;
}
.item-content-steps__links {
  margin-top: 16px;
  gap: 16px;
}
.item-content-steps form {
  margin-top: 16px;
}

/* end content steps block */
/* content contacts block */
.item-content__wrapper {
  justify-content: center;
}
.item-content__contacts--item {
  width: 50%;
  padding-top: 0;
  padding-bottom: 34px;
  margin-top: 0;
}
.item-content__contacts--item::before {
  top: auto;
  bottom: 0;
}
.item-content__contacts--item::after {
  bottom: auto;
  top: 0;
  height: 90%;
}
.item-content__contacts--item h2 {
  text-align: center;
}
.item-content__contacts--item .item-content__works {
  justify-content: space-between;
  gap: 8px;
}
.item-content__contacts--inner {
  display: flex;
  justify-content: center;
}
.item-content__contacts--inner ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item-content__contacts--inner ul li {
  position: relative;
  margin-bottom: 24px;
  padding-left: 48px;
}
.item-content__contacts--inner ul li::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.item-content__contacts--inner ul li:last-child {
  margin-bottom: 0;
}
.item-content__contacts--inner ul li a {
  font-weight: 700;
}
.item-content__wrapper--timer {
  text-align: center;
}
.item-content__wrapper--timer h3 {
  font-size: 16px;
}
.item-content__wrapper--timer .flex {
  gap: 20px;
}
.item-content__wrapper--countdown {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin-top: 10px;
}

li[data-phone=kievstar]::before {
  content: url('data:image/svg+xml,<svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.3725 0.01241C18.6507 0.496399 19.1098 1.42715 19.085 2.76742C19.0354 5.24942 19.085 7.719 19.0602 10.201C19.0478 11.8267 17.6951 12.8691 16.2432 12.41C15.4117 12.1494 14.7664 11.4172 14.754 10.5361C14.7291 7.68177 14.7167 4.83989 14.754 1.98559C14.7664 0.943158 15.511 0.397119 16.3673 0C16.7023 0.01241 17.0374 0.01241 17.3725 0.01241Z" fill="%232DA0FC"/><path fill-rule="evenodd" clip-rule="evenodd" d="M0 12.547C0.409529 11.7031 0.918338 10.9709 1.97318 10.9213C2.32066 10.9089 2.68055 10.9585 3.00321 11.0578C5.43557 11.8396 7.86792 12.6339 10.2879 13.4529C11.7274 13.9369 12.3355 15.4137 11.6405 16.6795C11.1442 17.5731 10.1017 18.0074 9.0841 17.6848C6.55246 16.8657 4.03324 16.0094 1.50161 15.1903C0.732188 14.9421 0.335069 14.3216 0 13.6639C0 13.2916 0 12.9193 0 12.547Z" fill="%232DA0FC"/><path fill-rule="evenodd" clip-rule="evenodd" d="M26.0358 32.8989C25.254 32.8616 24.6583 32.5638 24.2364 31.9681C22.6852 29.8088 21.1339 27.6494 19.5951 25.4653C18.8381 24.398 19.0615 23.0577 20.0667 22.338C21.0595 21.6182 22.3749 21.8664 23.1567 22.9585C24.6707 25.0682 26.1848 27.1903 27.6864 29.3C28.2448 30.0694 28.3441 30.9009 27.8849 31.7447C27.4878 32.5017 26.8301 32.8616 26.0358 32.8989Z" fill="%232DA0FC"/><path fill-rule="evenodd" clip-rule="evenodd" d="M14.7424 24.1621C14.5687 24.5965 14.457 25.0681 14.2088 25.4404C12.6948 27.6121 11.1559 29.759 9.61708 31.8936C8.84766 32.9608 7.56944 33.1842 6.57664 32.4768C5.57143 31.7819 5.33564 30.4168 6.09265 29.3495C7.61908 27.1654 9.17032 25.006 10.734 22.8467C11.3421 22.0028 12.2852 21.7174 13.1912 22.0276C14.0474 22.3503 14.6431 23.1817 14.7424 24.1621Z" fill="%232DA0FC"/><path fill-rule="evenodd" clip-rule="evenodd" d="M33.7793 13.1299C33.7669 14.0483 33.2705 14.8425 32.4018 15.1403C29.8329 16.0214 27.2516 16.8777 24.6579 17.7092C23.5162 18.0691 22.3497 17.4114 21.9898 16.2945C21.6299 15.1652 22.1511 13.949 23.268 13.5519C25.8369 12.6583 28.4181 11.8021 31.0118 10.983C32.4514 10.5362 33.7917 11.6283 33.7793 13.1299Z" fill="%232DA0FC"/></svg>');
}

li[data-phone=lifecell]::before {
  content: url('data:image/svg+xml,<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.475 32.8708C25.5436 32.8553 32.8829 25.4907 32.8678 16.4214C32.8527 7.35208 25.4888 0.0125163 16.4202 0.0279981C7.35157 0.0434798 0.0122619 7.40814 0.0273877 16.4774C0.0425136 25.5467 7.40635 32.8863 16.475 32.8708Z" fill="%23FFCB08"/><path d="M25.2258 11.6007C23.2231 11.6007 21.599 13.2237 21.599 15.2297C21.599 15.2398 21.599 15.2398 21.599 15.2499C15.1226 17.135 8.76573 21.9233 5.61719 28.7983C7.30106 30.2903 9.28384 31.3891 11.426 32.0947C12.6217 24.8971 17.8925 19.4334 22.4758 17.5987C23.1633 18.4052 24.1597 18.8689 25.2158 18.8689C27.2186 18.8689 28.8327 17.2459 28.8327 15.2398C28.8426 13.2338 27.2285 11.6108 25.2258 11.6007Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13.807 4.68518C11.8043 4.68518 10.1901 6.30817 10.1901 8.31422C10.1901 8.39487 10.1901 8.47551 10.2001 8.55615C5.6965 10.3404 2.26898 13.2941 0.0371094 16.8727C0.136747 20.0582 1.10323 23.1429 2.91663 25.7538C3.08601 19.9171 5.99542 14.3122 10.9574 10.5521C11.6448 11.4291 12.691 11.9433 13.807 11.9433C15.8097 11.9433 17.4238 10.3203 17.4238 8.31422C17.4338 6.31825 15.8097 4.68518 13.807 4.68518Z" fill="white"/></svg>');
}

li[data-phone=vodafone]::before {
  content: url('data:image/svg+xml,<svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3555 1.14938C14.4803 -0.494634 19.285 -0.380914 23.2998 1.52856C22.1558 1.35475 20.9922 1.48578 19.8597 1.67724C16.7842 2.25806 13.8614 3.70518 11.5769 5.85499C9.38632 8.0082 7.85127 10.8651 7.41778 13.9216C7.13093 16.0874 7.39673 18.3591 8.36861 20.3303C9.37002 22.3986 11.1328 24.0949 13.2575 24.9704C15.3048 25.8367 17.6797 25.8272 19.7535 25.0539C22.865 23.912 25.1007 20.8286 25.3563 17.5345C25.5172 15.3755 24.992 13.0787 23.5415 11.4228C22.1569 9.80191 20.1316 8.90913 18.105 8.40095C17.9964 6.40221 18.9381 4.42756 20.4314 3.12776C21.2607 2.37993 22.2899 1.90332 23.3541 1.59815L23.4349 1.57031C26.4816 3.03135 29.0703 5.44085 30.7198 8.39892C32.133 10.9174 32.8699 13.8194 32.7969 16.7103C32.783 20.4484 31.3858 24.1496 28.9906 27.0079C26.7257 29.7337 23.5578 31.6945 20.1052 32.4796C16.6433 33.2784 12.9188 32.9338 9.67893 31.4626C6.5087 30.0467 3.82288 27.5853 2.11437 24.5576C0.693048 22.0415 -0.0588597 19.1405 0.00360122 16.2462C0.0103905 12.6402 1.29084 9.06189 3.52653 6.24198C5.31244 3.99033 7.68154 2.20001 10.3555 1.14938Z" fill="%23E60000"/><path d="M19.8596 1.67709C20.9921 1.48563 22.1557 1.3546 23.2997 1.52841L23.464 1.55624L23.354 1.59799C22.2898 1.90317 21.2606 2.37977 20.4313 3.12761C18.938 4.42741 17.9963 6.40205 18.105 8.4008C20.1315 8.90898 22.1568 9.80176 23.5414 11.4227C24.9919 13.0786 25.5171 15.3754 25.3562 17.5344C25.1006 20.8285 22.8649 23.9118 19.7534 25.0538C17.6796 25.8271 15.3047 25.8366 13.2575 24.9703C11.1328 24.0948 9.36995 22.3985 8.36854 20.3302C7.39666 18.3589 7.13087 16.0872 7.41771 13.9215C7.8512 10.865 9.38624 8.00805 11.5768 5.85484C13.8614 3.70503 16.7841 2.25791 19.8596 1.67709Z" fill="white"/></svg>');
}

/* end content app block */
/* content chart block */
.schedule-chart {
  background-color: var(--bg-color);
  padding: 10px;
  margin-right: 16px;
  border-radius: 12px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1411764706);
  width: 100px;
}
.schedule-chart__item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  gap: 10px;
  padding: 5px 0;
  position: relative;
  line-height: 1;
}
.schedule-chart__item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--dark-grey-color);
  left: 0;
  display: none;
}
.schedule-chart__item:first-child {
  padding-top: 0;
}
.schedule-chart__item:first-child::after {
  bottom: -1px;
  display: block;
}
.schedule-chart__item:last-child {
  padding-bottom: 0;
}
.schedule-chart__item:last-child::after {
  top: -2px;
  display: block;
}
.schedule-chart__days--off .schedule-chart__day {
  background-color: #aa1800;
}
.schedule-chart__day {
  width: 10px;
  height: 10px;
  background-color: var(--dark-grey-color);
  margin-bottom: 2px;
}
.schedule-chart__times {
  white-space: nowrap;
}

/* end content chart block */
/* content chat block */
.item-content__chats {
  margin: 24px 0;
}
.item-content__chats .item-content__wrapper {
  justify-content: space-around;
  gap: 24px;
}

.item-content__chat {
  padding: 15px 15px 15px 38px;
  background-color: var(--bg-color);
  justify-content: space-between;
  gap: 28px;
  align-items: center;
  border-radius: var(--radius);
  box-shadow: 2px 2px 4px rgba(106, 106, 106, 0.1450980392);
}
.item-content__chat a{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.item-content__chat a img{
  width: 70px;
  height: 70px;
  object-fit: contain;
  display: block;
}
.item-content__chat--qr {
  width: 130px;
  height: 130px;
  aspect-ratio: 1/1;
}
.item-content__chat--qr img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* end content chat block */

@media (max-width: 1200px) {
  .item-content__contacts--item:first-child {
    padding-right: 5% !important;
  }
  .item-content__contacts--item:last-child {
    padding-left: 5% !important;
  }
}
@media (max-width: 746px) {
  .item-content__contacts{
    flex-direction: column;
    align-items: center;
  }
  .item-content__wrapper .item-content__contacts--item {
    width: 100%;
  }
  .item-content__contacts--item:first-child {
    padding-right: 0 !important;
    margin-bottom: 24px;
  }
  .item-content__contacts--item:last-child {
    padding-left: 0 !important;
  }
  .item-content__contacts--item::after {
    display: none;
  }
  .item-content__chats {
    justify-content: space-around;
  }
  .item-content__chat {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
  .item-content__chat--qr {
    display: none;
  }
}
/* end content chat block */
/* content selector block */
.content-selector-block {
  display: flex;
  justify-content: center;
  padding-bottom: 11px;
  position: relative;
}
.content-selector-block::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--dark-grey-color);
  left: 0;
  bottom: 0;
  opacity: 0.2;
}
.content-selector-block__wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.content-selector-block__select {
  position: relative;
}
.content-selector-block__select::after {
  content: url('data:image/svg+xml,<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.12204 14.6809C8.74235 15.3728 7.74841 15.3728 7.36872 14.6809L0.124604 1.48116C-0.24114 0.814731 0.241061 4.74612e-05 1.00126 4.73913e-05L15.4895 4.60589e-05C16.2497 4.59889e-05 16.7319 0.814728 16.3662 1.48116L9.12204 14.6809Z" fill="%23B5B5B5"/></svg>');
  position: absolute;
  right: 4px;
  top: calc(50% + 2px);
  transform: translateY(-50%);
  pointer-events: none;
}
.content-selector-block select {
  width: 100%;
  font-size: 20px;
  padding: 4px 32px 4px 4px;
  border-radius: 4px;
  outline: none;
  color: var(--light-text-color);
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1450980392);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
.content-selector-block select::-ms-expand {
  display: none;
}

/* end content selector block */
/* content cards block */
.item-content__cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 48px;
  margin-top: 18px;
}

.item-content__card {
  max-width: 300px;
  padding-right: 14px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
}
.item-content__card:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--dark-grey-color);
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
}
.item-content__card--title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.item-content__card--mintitle {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 4px;
}
.item-content__card--price {
  text-align: center;
  margin-bottom: 32px;
  margin-top: auto;
}
.item-content__card--price strong {
  font-size: 24px;
  font-weight: 700;
}
.item-content__card--links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.item-content__card h3 {
  text-align: center;
  margin-bottom: 24px;
}
.item-content__card ul {
  max-width: 320px;
  font-size: 18px;
  margin-bottom: 16px;
}
.item-content__card li::marker {
  color: var(--dark-grey-color);
}
.item-content__card .item-content__card--mintitle + ul > li::marker {
  color: var(--accent-color);
}

@media (max-width: 729px) {
  .item-content__card:not(:last-child)::after {
    display: none;
  }
}
/* end content cards block */
/* ============ HOME =============== */
.hero {
  margin-top: 0;
  margin-bottom: auto;
}

.hero-home {
  text-align: center;
}

.hero-home__img {
  /* margin-top: clamp(5.13rem, calc(4.36rem + 3.83vw), 7.25rem); */
  margin-top: 11vh;
  /* margin-bottom: clamp(6rem, calc(5.46rem + 2.7vw), 7.5rem); */
  margin-bottom: 11vh;
  margin-left: auto;
  margin-right: auto;
  width: clamp(16.88rem, 12.06rem + 24.1vw, 30.25rem);
}
.hero-home__img img {
  width: 100%;
  object-fit: cover;
}

.hero-home__search form {
  width: 70%;
}

@media (max-width: 746px) {
  .hero-home__search form {
    width: 100%;
  }
  .item-content__video {
    flex-direction: column;
  }
  .item-content__video--iframe {
    max-width: 100%;
    width: 100%;
  }
}
/* ========= END HOME =========== */

/* ======= Post Card */
.post-modal-global{
  position: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000050;
  backdrop-filter: blur(4px);
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
}
.post-modal-global.is-open{
  display: flex;
}
.post-modal-global .post-modal__content{
  position: relative;
  padding-top: 28px;
  max-width: 920px;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
.post-modal-global .post-modal__close{
  position: absolute;
  right: 0;
  top: 0;
  color: var(--bg-color);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1;
  padding-right: 25px;
}
.post-modal-global .post-modal__close::after{
  content: url('data:image/svg+xml,<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.855469 0.912231L16.2438 15.3279" stroke="%23F8F8F8" stroke-width="2.5"/><path d="M16.2461 0.912231L0.857803 15.3279" stroke="%23F8F8F8" stroke-width="2.5"/></svg>');
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.post-modal-global .post-modal__body{
  background-color: var(--grey-color);
  border-radius: var(--radius);
  padding: 32px clamp(0.5rem, calc(-0.09rem + 2.93vw), 2rem);

  flex: 1;
  overflow-y: auto;
  min-height: 0;
  scrollbar-gutter: stable;
}
.swiper-wrapper:has(.post-card){
  align-items: stretch;
}
.swiper-slide:has(.post-card){
  height: auto;
}
.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  height: 100%;
  max-height: 720px;
  font-size: 15px;
}
.post-card .post-card__title{
  text-align: center;

}
.post-card .post-card__btns{
  justify-content: space-between;
  gap: 8px;
  margin-top: auto;
}
.post-card .post-card__excerpt p:first-child {
  margin-bottom: 16px !important;
  line-height: 1.2;
}
.post-card .post-card__excerpt p:not(:last-child) {
  margin-bottom: 8px;
}
.post-card .post-card__image{
  width: 100%;
  height: 110px;
  border-top-left-radius: var(--radius, 20px);
  border-top-right-radius: var(--radius, 20px);
  overflow: hidden;
  background-color:  #a4a4a450;
}
.post-card .post-card__image img{
  width: 100%;
  display: block;
  object-fit: cover;
}
.post-card--post .post-card__image img{
  height: 110px;
}
.post-card.post-card--turnkey .post-card__image img{
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  height: 120px;
}
.post-card--post .swiper-slide {
  position: relative;
}
.post-modal-global .post-card__content h3{
  text-align: center;
}
.post-modal-global .post-card__body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-modal-global .page__wrapper{
  margin-top: 8px;
  margin-bottom: 30px;
}
.post-modal-global .page__item--tab{
  font-size: 18px;
  text-transform: none;
  line-height: 1.2;
}
.post-card__wrapper .post-card__header{
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 12px;
}
.post-card__header div:first-child{
  padding-right: 12px;
  position: relative;
}
.post-card__header div:first-child::after{
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  background-color: var(--dark-grey-color);
  right: 0;
  top: 0;
  opacity: 0.6;
}
.post-card__header div:last-child{
  padding-left: 12px;
}
.post-card__body .post-card__catalog{
  border-radius: var(--radius);
  box-shadow: 1px 1px 4px #00000050;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 24px;
}
.post-card__body .post-card__catalog--header{
  background-color: var(--grey-color) !important;
  padding: 0;
  box-shadow: 0 0 4px #00000030;
}

.post-card__body .catalog-row{
  display: grid;
  grid-template-columns: 1fr clamp(6rem, calc(5.32rem + 3.41vw), 7.75rem);
  background-color: var(--bg-color);
  border-bottom: 1px solid #E2E2E2;
}
.post-card__body .catalog-row:first-child{
  border-bottom: none;
}
.post-card__body .catalog-row:last-child{
  border-bottom: none;
}
.catalog-row .catalog__item--name {
  padding: 0 clamp(1.25rem, calc(0.45rem + 4.02vw), 3.31rem);
  border-right: 1px solid #E2E2E2;
  margin-left: 20px;
}
.catalog-row .catalog__header--name {
  padding: 6px clamp(1.25rem, calc(0.45rem + 4.02vw), 3.31rem);
  border-right: 1px solid #E2E2E2;
  font-weight: 700;
}
.catalog-row .catalog__header--data{
  padding: 0 clamp(1.25rem, calc(1.01rem + 1.22vw), 1.88rem);
  text-align: right;
  font-weight: 700;
}
.catalog-row .catalog__item--data{
  padding: 0 clamp(1.25rem, calc(1.01rem + 1.22vw), 1.88rem);
  text-align: right;
  font-weight: 700;
}
.catalog-row .catalog-row__title {
  font-weight: 700;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 0;
}

/* =============================== */
.swiper-slide-next:has(.post-card--post)::after {
  content: "";
  position: absolute;
  left: -26px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  background: #E2E2E2;
}
.swiper-slide-next:has(.post-card--post)::before {
  content: "";
  position: absolute;
  right: -26px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  background: #E2E2E2;
}
.post-card.post-card--turnkey .post-card__btn{
  width: 100%;
}
.post-card.post-card--turnkey .post-card__title{
  min-height: 44px;
  display: flex;
  align-items: center;
}

/* ===================== */
  .item-content__navigation{
    position: relative;
  }
	.item-content__pagination {
		position: absolute;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%);
		display: flex;
    justify-content: center;
    align-items: center;
		width: fit-content !important;
		margin: auto;
	}
	.item-content__pagination span {
		width: 10px;
		height: 10px;
		margin: 0 5px !important;
	}
	.item-content__pagination .swiper-pagination-bullet-active {
		background-color: var(--accent-color);
		cursor: default;
	}

	.item-content__arrows {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.item-content__btn {
		width: 33px;
		height: 33px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #d1d1d1;
		cursor: pointer;
		position: relative;
		z-index: 99;
	}

	.item-content__btn.item-content__prev::after {
		content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="white"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
		height: 24px;
		width: 22px;
		transform: translateX(-1px) rotate(180deg);
	}

	.item-content__btn.item-content__next::after {
		content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="white"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
		height: 24px;
		width: 22px;
		transform: translateX(1px);
	}

	.item-content__btn.swiper-button-disabled::after {
		content: url('data:image/svg+xml,<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g filter="url(%23filter0_d_8342_52)"><path d="M17.5 11.0637C18.1667 11.4486 18.1667 12.4108 17.5 12.7957L5.5 19.7239C4.83333 20.1088 4 19.6277 4 18.8579L4 5.00149C4 4.23169 4.83333 3.75057 5.5 4.13547L17.5 11.0637Z" fill="%23B5B5B5"/></g><defs><filter id="filter0_d_8342_52" x="0" y="0" width="22" height="23.8594" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset/><feGaussianBlur stdDeviation="2"/><feComposite in2="hardAlpha" operator="out"/><feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/><feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_8342_52"/><feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_8342_52" result="shape"/></filter></defs></svg>');
		cursor: default;
	}

	.item-content__btn.swiper-button-lock {
		display: none;
	}

@media (max-width: 1024px) {
  .swiper-slide-next:has(.post-card--services)::before {
    display: none;
  }
  
}
@media (max-width: 640px) {
  .swiper-slide-next:has(.post-card--services)::after {
    display: none;
  }
  
}





/* ====End Post Card */



.link-to-home{
  margin: 0;
}
.site-footer{
  margin-top: auto;
}
footer {
  margin-top: auto;
  padding: 14px 0 14px;
  font-size: 18px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



@media (max-width: 1200px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 24px;
  }
}
@media (max-width: 746px) {
  .footer__wrapper {
    display: none;
  }
}
